
.maindiv1{
   background-image:url('../Assets/kideducation.jpg');
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100vh;
}

.maindiv2{
    background-image: url('../Assets/whitebg.jpg');
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.maindiv3{
    background-color: rgb(15, 32, 46);
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv4{
    background-image: url('../Assets/darkbluebg.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv5{
    background-image: url('../Assets/whitebg2.jpg');
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv6{
    background-color: rgb(20, 187, 187);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    image-resolution: 300px;
}