.footdiv1{
    background-image: url('../Assets/whitebg2.jpg');
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    background-color: rgb(56, 54, 54);
    height: 15vh;
    justify-content: center;
    align-items: center;
}
.footdiv2{
    
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footdiv3{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footdiv4{
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
}